<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438988711359-sb76bm05oovqvfbdh3hun4mm0puodo5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438988711359-sb76bm05oovqvfbdh3hun4mm0puodo5c</string>
	<key>API_KEY</key>
	<string>AIzaSyDHtRwS8m9yP0BXrQgqcrlLdcvZTGtfd7E</string>
	<key>GCM_SENDER_ID</key>
	<string>438988711359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-c2a2e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-c2a2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438988711359:ios:ebe2b3153255bbe016ed0a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-c2a2e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>